{{#if message}}
    <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
        <strong>{{message}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
        <strong>{{error}}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}
<div class="card">
    <div class="card-header bg-primary text-light">Usuń konto</div>
    <div class="card-body p-4">
        <form action="/user/settings/delete/{{id}}" method="POST">
            <div class="row g-3 mb-5">
                <div class="col-md-6">
                    <label for="new_pass" class="form-label">Hasło</label>
                    <input type="password" class="form-control" id="new_pass" name="pass" required>
                </div>
                <div class="col-md-6">
                    <label for="new_pass_rep" class="form-label">Powtórz hasło</label>
                    <input type="password" class="form-control" id="new_pass_rep" name="pass_confirm" required>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-3">Usuń konto</button>
            </div>
        </form>
    </div>
</div>